/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

html {
    background-color: rgb(230, 228, 228);
}
body {
    font-family: Roboto;
	line-height: 1.6;
}
h1,
h2,
h3 {
    margin-top: 0;
}

a, li { 
	color: black;
	text-decoration: none;
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 1.35em;
	margin: 0;
    color: black;
    width: 70%;
    text-align: center;
    display: block;
}

.main-nav {
    margin-top: 5px;
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.main-nav a,
.name {
    text-align: center;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .95em;
    margin: 0 auto;
}
.main-nav a {
    background-color: white;
    margin-bottom: 10px;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.wrapper {
    margin: 0 auto;
    width: 70%;
}

.main-content {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.main-header {
	padding: 1em 0;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.banner {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.contact h3 {
   margin: 0 auto;
}

.main-footer {
	margin-top: 30px;
	padding: 2em 0;
	background: rgb(230, 228, 228);
    width: 100%;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.footer-nav {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

    .top {
        display: none;
    }
    .footer-nav {
        justify-content: space-between;
        display: flex;
    }
    .footer-nav li {
        margin: 0 1em;
    }


}


@media (min-width: 1024px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}